body {
  font-family: Arial, sans-serif;
  background: #0b0b0b;
  color: #e50914;
  text-align: center;
  margin: 0;
}

header {
  background: #111;
  padding: 15px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

button {
  background: #e50914;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  margin: 10px;
}

.nota {
  color: #bbb;
}

img {
  margin-top: 20px;
  border-radius: 6px;
  box-shadow: 0 0 10px #e50914;
}

footer {
  background: #111;
  color: #bbb;
  padding: 10px;
  margin-top: 20px;
}

.centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabla {
  margin-left: auto;
  margin-right: auto;
}
